.page-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1px;
}

.page-btn {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  background-color: #fff;
  border: none;
}

.page-selected {
  cursor: not-allowed;
  text-decoration: underline;
}