.authpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authpage-container h2 {
  font-size: 1.8rem;
  cursor: pointer;
  margin: 1.8rem 0;
  margin-bottom: 1.8rem;
}


p.error-message {
  color:#161666;
  text-align: center;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25rem;
}

label {
  font-size: 2.0rem;
  display: flex;
  align-items: center;
}

input {
  padding: 1rem;
  font-size: 1.6rem;
  border: .1rem solid #333;
  border-radius: .2rem;
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: .2rem;
  outline: none;
  cursor: pointer;
  background-color: cadetblue;
  color: #fff;
}


button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: rgb(148, 156, 156);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
