/* .BoardItem {
  flex: 1 1 150px;


}


.board-img {

  height: 100%;
  width: 100%;
  border-radius: 0.1rem;
  object-fit: cover
} */

.BoardItem {
  height: auto;
  margin: 0.5rem ;
}

.board-img {
  max-width: 100%;
  height: auto;
}

.BoardItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

