.WelcomePage {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.welcome-title {
  margin-top: 50px;
  margin-bottom: 50px; 
  font-size: 5.6rem;
}

.welcome-container {

  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.welcome-container div {
  flex: 1 1 50%
}

